@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

::selection {
  @apply  bg-transparent; /* Apply Tailwind classes */
}

.selct input:-webkit-autofill {
  background-color: yellow !important;
  color: blue;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.swal-title {
  font-size: 21px; /* Custom font size for title */
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}